<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CNContactPickerViewControllerTutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA91DEBC1CF2EDD900155F09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA91DED51CF2EDDA00155F09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA91DEE01CF2EDDA00155F09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
